In [ ]:
pip install tweepy

Requirement already satisfied: tweepy in c:\users\asuspc\anaconda3\lib\site-packages (3.9.0)
Requirement already satisfied: requests[socks]>=2.11.1 in c:\users\asuspc\anaconda3\lib\site-packages (from tweepy) (2.24.0)
Requirement already satisfied: six>=1.10.0 in c:\users\asuspc\anaconda3\lib\site-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\asuspc\anaconda3\lib\site-packages (from tweepy) (1.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asuspc\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\asuspc\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\asuspc\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\asuspc\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in c:\users\asuspc\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\asuspc\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import GetOldTweets3 as got
import pandas as pd
import datetime as dt
import tweepy
import snscrape.modules.twitter as sntwitter
import googletrans

In [ ]:
crime=pd.read_csv("C:/Users/AsusPC/Desktop/Saint Peter's University Note/Capstone Project/Portugual/Albufeira_google_drive/drive-download-20201007T133920Z-001/Albufeira_Crimes_2019_GEOREF.csv")
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 35 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     2919 non-null   int64
 1   FID            2919 non-null   int64
 2   Cod_georef     2919 non-null   object
 3   Cod            2919 non-null   float64
 4   LaTITUDE       2919 non-null   float64
 5   LoNGITUDE      2919 non-null   float64
 6   Y              2919 non-null   float64
 7   X              2919 non-null   float64
 8   date_occur     2919 non-null   object
 9   year_NUIPc     2919 non-null   float64
 10  title_created  2919 non-null   object
 11  type           2919 non-null   object
 12  suspects       2919 non-null   float64
 13  suspects_1     2919 non-null   float64
 14  suspects_2     2919 non-null   float64
 15  suspects_3     2919 non-null   float64
 16  suspects_4     2919 non-null   float64
 17  suspects_5     2919 non-null   float64
 18  suspects_6     2919 non-null   float64
 19  detainees      2919 non-null   float64
 20  injured 1      2919 non-null   float64
 21  injured 2      2919 non-null   float64
 22  injured 3      2919 non-null   float64
 23  injured 4      2919 non-null   float64
 24  injured 5      2919 non-null   float64
 25  injured 6      2919 non-null   float64
 26  value          2919 non-null   float64
 27  currency       2919 non-null   object
 28  unit           2919 non-null   object
 29  subunit        2919 non-null   object
 30  part           260 non-null    object
 31  District       2919 non-null   object
 32  county         2919 non-null   object
 33  parish         2919 non-null   object
 34  country        2919 non-null   object
dtypes: float64(21), int64(2), object(12)
memory usage: 661.4+ KB

In [ ]:
crime_geo=pd.DataFrame({'Latitude':crime.LaTITUDE,'Longitude':crime.LoNGITUDE})

In [ ]:
crime_geo.head()

    Latitude  Longitude
0  37.128609  -8.233111
1  37.093197  -8.264281
2  37.101135  -8.270679
3  37.093681  -8.194209
4  37.091339  -8.241792

In [ ]:
crime_count=len(crime_geo)
crime_chunk=(crime_count - 1) // 100+1

In [ ]:
def tweet_id(geo):
    total_tweet=pd.DataFrame(columns=['user_name','date','url','id','Latitude','Longitude'])
    for c in range(3,13):
        for a,b in zip(geo.Latitude,geo.Longitude):
            for i,tweet in enumerate(sntwitter.TwitterSearchScraper('geocode:{},{},15mi lang:en until:{} since:{} -filter:links -filter:replies'
                                                                .format(a,b,dt.date(2019,c,30),dt.date(2019,c,1))).get_items()) :
                if i > 100 :
                    break
                total_tweet=total_tweet.append({'user_name':tweet.username,'date':tweet.date,'url':tweet.url,'id':tweet.id,'Latitude':a,'Longitude':b},ignore_index=True)
    total_tweet.to_csv('en_total_tweet_id_15m_Mar_Dec.csv')

In [ ]:
for i in range(crime_chunk):
        batch = crime_geo[i*100:(i+1)*100]
        result = tweet_id(batch)

Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=geocode%3A37.100284576416016%2C-8.22746467590332%2C15mi+lang%3Aen+until%3A2019-05-30+since%3A2019-05-01+-filter%3Alinks+-filter%3Areplies&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment: non-200 status code, retrying
Error retrieving https://twitter.com/search?f=live&lang=en&q=geocode%3A37.122968%2C-8.237514%2C15mi+lang%3Aen+until%3A2019-03-30+since%3A2019-03-01+-filter%3Alinks+-filter%3Areplies&src=spelling_expansion_revert_click: ConnectionError(ProtocolError('Connection aborted.', ConnectionResetError(10054, '遠端主機已強制關閉一個現存的連線。', None, 10054, None))), retrying
Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=geocode%3A37.122968%2C-8.237514%2C15mi+lang%3Aen+until%3A2019-03-30+since%3A2019-03-01+-filter%3Alinks+-filter%3Areplies&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaAgLaF5vfR2B4WgIC28cOjxe0eEjUAFQAlABEVnPl5FYCJehgHREVGQVVMVBUAFQAVARUAFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment: ConnectionError(ProtocolError('Connection aborted.', ConnectionResetError(10054, '遠端主機已強制關閉一個現存的連線。', None, 10054, None))), retrying
Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=geocode%3A37.12860870361328%2C-8.233111381530763%2C15mi+lang%3Aen+until%3A2019-04-30+since%3A2019-04-01+-filter%3Alinks+-filter%3Areplies&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaAwLWJpqOhjR8WgIC39bni15UfEjUAFQAlABEVnPl5FYCJehgHREVGQVVMVBUAFQAVARUAFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment: ConnectionError(ProtocolError('Connection aborted.', ConnectionResetError(10054, '遠端主機已強制關閉一個現存的連線。', None, 10054, None))), retrying
Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_composer_source=true&include_ext_alt_text=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=geocode%3A37.09015274047852%2C-8.231456756591799%2C15mi+lang%3Aen+until%3A2019-08-30+since%3A2019-08-01+-filter%3Alinks+-filter%3Areplies&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&cursor=scroll%3AthGAVUV0VFVBaCgL_VqIHPryAWgMC68cqD57IgEjUAFQAlABEVnPl5FYCJehgHREVGQVVMVBUAFQAVARUAFQAA&pc=1&spelling_corrections=1&ext=mediaStats%252CcameraMoment: ConnectionError(ProtocolError('Connection aborted.', ConnectionResetError(10054, '遠端主機已強制關閉一個現存的連線。', None, 10054, None))), retrying

ScraperException: Unable to find guest token

In [ ]:
total_tweet=pd.read_csv("C:/Users/AsusPC/Desktop/Saint Peter's University Note/Capstone Project/en_total_tweet_id_15m_2019.csv")

In [ ]:
total_tweet.head()

,Unnamed: 0,user_name,date,url,id,Latitude,Longitude
0,0,davidaguas16,2019-03-29 19:50:59+00:00,https://twitter.com/davidaguas16/status/111171...,1111717407226322945,37.126476,-8.299664
1,1,aqnhnvpc,2019-03-29 18:29:59+00:00,https://twitter.com/aqnhnvpc/status/1111697026...,1111697026041954304,37.126476,-8.299664
2,2,JohnfrancisNST,2019-03-29 17:44:47+00:00,https://twitter.com/JohnfrancisNST/status/1111...,1111685647411134464,37.126476,-8.299664
3,3,catarinapj04,2019-03-29 17:18:14+00:00,https://twitter.com/catarinapj04/status/111167...,1111678967361257472,37.126476,-8.299664
4,4,catarinapj04,2019-03-29 16:36:54+00:00,https://twitter.com/catarinapj04/status/111166...,1111668567592833027,37.126476,-8.299664

In [ ]:
af = lambda x: x["url"].split("/")[-1]
total_tweet['id'] = total_tweet.apply(af, axis=1)

In [ ]:
total_tweet.head()

,Unnamed: 0,user_name,date,url,id,Latitude,Longitude
0,0,davidaguas16,2019-03-29 19:50:59+00:00,https://twitter.com/davidaguas16/status/111171...,1111717407226322945,37.126476,-8.299664
1,1,aqnhnvpc,2019-03-29 18:29:59+00:00,https://twitter.com/aqnhnvpc/status/1111697026...,1111697026041954304,37.126476,-8.299664
2,2,JohnfrancisNST,2019-03-29 17:44:47+00:00,https://twitter.com/JohnfrancisNST/status/1111...,1111685647411134464,37.126476,-8.299664
3,3,catarinapj04,2019-03-29 17:18:14+00:00,https://twitter.com/catarinapj04/status/111167...,1111678967361257472,37.126476,-8.299664
4,4,catarinapj04,2019-03-29 16:36:54+00:00,https://twitter.com/catarinapj04/status/111166...,1111668567592833027,37.126476,-8.299664

In [ ]:
tweet_id=total_tweet['id'].to_list()
count=len(tweet_id)

In [ ]:
chunks = (count - 1) // 100+1

In [ ]:
consumer_key = 'nyRVpnH1oXbgJg657TxUTZgtH'
consumer_secret = 'IrrtnHvn9FNZhTMZHjI0YoJgYqr0ZH2X0FBAbmRtCpGJGIhSCs'
access_token = '2403163399-876wzmLbA9FeUar1MUcEwX3DU4A8V2Ko7ROA768'
access_token_secret = '1sdJ6ZyjTjPQSOgtpFGl4v4744yahNoUHdNPg5sZEDqky'

In [ ]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

In [ ]:
tran=googletrans.Translator()

In [ ]:
def fetch_tw(ids):
    empty_data=pd.DataFrame()
    list_of_tw_status = api.statuses_lookup(ids, tweet_mode= "extended")
    for status in list_of_tw_status:
            tweet_elem = {"tweet_id": status.id_str,
                          "screen_name": status.user.screen_name,
                          "tweet":status.full_text,
                          "coordinate":status.coordinates}
            empty_data = empty_data.append(tweet_elem, ignore_index = True)
    empty_data.to_csv("Total_tweets_en", mode="a")

In [ ]:
for i in range(chunks):
        batch = tweet_id[i*100:(i+1)*100]
        result = fetch_tw(batch)